<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% block stylesheets %}{% endblock %}
</head>
<body>

	{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

	<nav>
		{% block nav %}
		{% endblock %}
	</nav>

	{% block body %}
	
	{% endblock %}

	<footer>
		{% block footer %}
		Whats new?
		{% endblock %}
	</footer>

	{% block scripts %}
		
	{% endblock %}
</body>
</html>